body {
  background-color: #b5eaea;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
}
.App {
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.Entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.DefaultNote {
  background-color: #ffbcbc;
  border-radius: 10px;
  padding: 1rem;
  margin: 10px;
  min-height: 150px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

ul {
  margin: 0rem;
  padding: 0rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
li {
  background-color: #edf6e5;
  border-radius: 10px;
  padding: 1rem;
  margin: 10px;
  max-height: 250px;
  max-width: 250px;
  min-height: 150px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f38ba0;
  word-break: break-all;
}

.NoteContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NoteFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8rem;
}

input {
  background-color: #ffbcbc;
  border: none;
  margin: 10px;
}
textarea {
  background-color: #ffbcbc;
  font-size: 1rem;
  border: none;
  resize: none;
}
textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Notes {
  margin: 1.625rem;
}

i {
  cursor: pointer;
}

.Title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  color: #3b89ac;
}

.NoteTitle {
  font-family: "Open Sans", sans-serif;
}
.NoteDescription {
  font-family: "Open Sans", sans-serif;
  font-weight: none;
}

.SubmitButton {
  border: solid 2px;
  border-color: #3b89ac;
  padding: 0.3rem;
  color: #3b89ac;
  cursor: pointer;
  border-radius: 16px;
  transition: transform 0.2s;
  background-color: #b5eaea;
}

.SubmitButton:hover {
  transform: scale(1.1);
}

.Footer {
  display: flex;
  flex-direction: row;
  font-size: 0.6rem;
  align-items: center;
  justify-content: center;
}
.fa {
  color: #e90606;
  margin: 0 3px;
  font-size: 10px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
.FooterIcons {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
.fab {
  margin: 10px;
}
.FooterSpan {
  font-size: 0.6rem;
}
a {
  color: black;
}